/*
 * TicTacToe css File
*/

table {
/*   max-width: 100%; */
}

/**/ td {
  border: 1px dashed black;
  width: 33%;
  /*width: 10vw;
  height: 1vh;*/
}

.cell {
  color: #00ff00;
  /* margin-left: 45px; */
  visibility: hidden;
  width: 33%;
}

.occupied {
  background: #ff0000;
  width: 100%;
}

#outer {
  display: block;
}

#start {
   margin-left: 40%;
}

#time {
  top: 20px;
  right: 0;
  bottom: 0;
  left: auto;
}

#reset {
  margin: 0 0 50%;
  padding-top: 0;
  float: right;
}

/**/

.TicTacToe {
    /* propertys here */
}
